In [2]:
import pandas as pd
import numpy as np

In [7]:
movies = pd.read_csv('movies_data.csv')

In [8]:
movies.head()

,Unnamed: 0,Unnamed: 0.1,id,title,overview,popularity,vote_average,vote_count,release_date,keywords,genres,cast,crew,cast_poster,crew_poster
0,0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",31.222,8.7,3323,1995-10-20,NaN,"Comedy, Drama, Romance","Shah Rukh Khan, Kajol, Amrish Puri, Anupam Khe...",Aditya Chopra,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None
1,1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,76.654,8.7,20434,1994-09-23,"prison, corruption, police brutality, prison c...","Drama, Crime","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,2,2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",75.306,8.7,15270,1972-03-14,"italy, loss of loved one, love at first sight,...","Drama, Crime","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,3,3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,21.501,8.6,1369,2020-07-31,based on novel or book,Romance,"Melanie Zanetti, Giulio Berruti, James Andrew ...",Tosca Musk,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.585,8.6,12202,1993-11-30,"based on novel or book, factory, concentration...","Drama, History, War","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [9]:
movies.dropna(inplace=True)

movies.isnull().sum()

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8878 entries, 1 to 9463
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8878 non-null   int64
 1   Unnamed: 0.1  8878 non-null   int64
 2   id            8878 non-null   int64
 3   title         8878 non-null   object
 4   overview      8878 non-null   object
 5   popularity    8878 non-null   float64
 6   vote_average  8878 non-null   float64
 7   vote_count    8878 non-null   int64
 8   release_date  8878 non-null   object
 9   keywords      8878 non-null   object
 10  genres        8878 non-null   object
 11  cast          8878 non-null   object
 12  crew          8878 non-null   object
 13  cast_poster   8878 non-null   object
 14  crew_poster   8878 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 1.1+ MB

In [11]:
data = movies[['id','title','overview','keywords','genres','cast','crew']]

In [12]:
data.head()

,id,title,overview,keywords,genres,cast,crew
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"prison, corruption, police brutality, prison c...","Drama, Crime","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","italy, loss of loved one, love at first sight,...","Drama, Crime","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,based on novel or book,Romance,"Melanie Zanetti, Giulio Berruti, James Andrew ...",Tosca Musk
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"based on novel or book, factory, concentration...","Drama, History, War","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg
6,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"italy, italian american, cuba, symbolism, gang...","Drama, Crime","Al Pacino, Robert Duvall, Diane Keaton, Robert...",Francis Ford Coppola

In [13]:
data.overview = data.overview.apply(lambda x:x.split())
data.genres=data['genres'].apply(lambda x:[i.replace(' ','') for i in x])
data.keywords=data['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
data.cast=data['cast'].apply(lambda x:[i.replace(' ','') for i in x])
data.crew=data['crew'].apply(lambda x:[i.replace(' ','') for i in x])

C:\Users\shekh\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [14]:
data.head()

,id,title,overview,keywords,genres,cast,crew
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[p, r, i, s, o, n, ,, , c, o, r, r, u, p, t, i...","[D, r, a, m, a, ,, , C, r, i, m, e]","[T, i, m, , R, o, b, b, i, n, s, ,, , M, o, r,...","[F, r, a, n, k, , D, a, r, a, b, o, n, t]"
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[i, t, a, l, y, ,, , l, o, s, s, , o, f, , l, ...","[D, r, a, m, a, ,, , C, r, i, m, e]","[M, a, r, l, o, n, , B, r, a, n, d, o, ,, , A,...","[F, r, a, n, c, i, s, , F, o, r, d, , C, o, p,..."
3,724089,Gabriel's Inferno Part II,"[Professor, Gabriel, Emerson, finally, learns,...","[b, a, s, e, d, , o, n, , n, o, v, e, l, , o, ...","[R, o, m, a, n, c, e]","[M, e, l, a, n, i, e, , Z, a, n, e, t, t, i, ,...","[T, o, s, c, a, , M, u, s, k]"
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[b, a, s, e, d, , o, n, , n, o, v, e, l, , o, ...","[D, r, a, m, a, ,, , H, i, s, t, o, r, y, ,, ,...","[L, i, a, m, , N, e, e, s, o, n, ,, , B, e, n,...","[S, t, e, v, e, n, , S, p, i, e, l, b, e, r, g]"
6,240,The Godfather: Part II,"[In, the, continuing, saga, of, the, Corleone,...","[i, t, a, l, y, ,, , i, t, a, l, i, a, n, , a,...","[D, r, a, m, a, ,, , C, r, i, m, e]","[A, l, , P, a, c, i, n, o, ,, , R, o, b, e, r,...","[F, r, a, n, c, i, s, , F, o, r, d, , C, o, p,..."

In [15]:
data['tags'] = data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

C:\Users\shekh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
data.overview = data['overview'].apply(lambda x: " ".join(x))
data.genres = data['genres'].apply(lambda x: " ".join(x))
data.keywords = data['keywords'].apply(lambda x: " ".join(x))
data.cast = data['cast'].apply(lambda x: " ".join(x))
data.crew = data['crew'].apply(lambda x: " ".join(x))

C:\Users\shekh\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [17]:
data.head()

,id,title,overview,keywords,genres,cast,crew,tags
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"p r i s o n , c o r r u p t i o n , p o l i ...","D r a m a , C r i m e","T i m R o b b i n s , M o r g a n F r e e m...",F r a n k D a r a b o n t,"[Framed, in, the, 1940s, for, the, double, mur..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","i t a l y , l o s s o f l o v e d o n e , ...","D r a m a , C r i m e","M a r l o n B r a n d o , A l P a c i n o ,...",F r a n c i s F o r d C o p p o l a,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,b a s e d o n n o v e l o r b o o k,R o m a n c e,"M e l a n i e Z a n e t t i , G i u l i o B...",T o s c a M u s k,"[Professor, Gabriel, Emerson, finally, learns,..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"b a s e d o n n o v e l o r b o o k , f a...","D r a m a , H i s t o r y , W a r","L i a m N e e s o n , B e n K i n g s l e y...",S t e v e n S p i e l b e r g,"[The, true, story, of, how, businessman, Oskar..."
6,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"i t a l y , i t a l i a n a m e r i c a n , ...","D r a m a , C r i m e","A l P a c i n o , R o b e r t D u v a l l ,...",F r a n c i s F o r d C o p p o l a,"[In, the, continuing, saga, of, the, Corleone,..."

In [18]:
data = data[['id','title','tags']]

In [19]:
data.head()

,id,title,tags
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,724089,Gabriel's Inferno Part II,"[Professor, Gabriel, Emerson, finally, learns,..."
4,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar..."
6,240,The Godfather: Part II,"[In, the, continuing, saga, of, the, Corleone,..."

In [20]:
data.tags = data['tags'].apply(lambda x: " ".join(x))
data['tags'] = data.tags.apply(lambda x: x.lower())

In [21]:
data.head()

,id,title,tags
1,278,The Shawshank Redemption,framed in the 1940s for the double murder of h...
2,238,The Godfather,"spanning the years 1945 to 1955, a chronicle o..."
3,724089,Gabriel's Inferno Part II,professor gabriel emerson finally learns the t...
4,424,Schindler's List,the true story of how businessman oskar schind...
6,240,The Godfather: Part II,in the continuing saga of the corleone crime f...

In [22]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [23]:
def stem(text):
    l = [ ]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [24]:
data.tags = data.tags.apply(stem)

In [25]:
data.to_csv('movies_tags.csv')

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [27]:
vectors = cv.fit_transform(data.tags).toarray()

In [28]:
vectors.shape

(8878, 5000)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(vectors)

In [31]:
similarity.shape

(8878, 8878)

In [45]:
movie_index = data[data['title']=="The Shawshank Redemption"].index[0]
distances = similarity[movie_index]
movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
x = pd.DataFrame()
for i in movies_list:
    y = {'id':movies.iloc[i[0]].id,'movies':movies.iloc[i[0]].title}
    x = x.append(y,ignore_index=True)

In [34]:
movies.iloc[i[0]].id

103663

In [48]:
x['id'][1]

13393.0

In [27]:
movies.genres = movies["genres"].apply(lambda x: x.replace('[',''))
movies.genres = movies["genres"].apply(lambda x: x.replace(']',''))
movies.genres = movies["genres"].apply(lambda x: x.replace("'",''))

In [28]:
movies.cast = movies["cast"].apply(lambda x: x.replace('[',''))
movies.cast = movies["cast"].apply(lambda x: x.replace(']',''))
movies.cast = movies["cast"].apply(lambda x: x.replace("'",''))

In [29]:
movies.crew = movies["crew"].apply(lambda x: x.replace('[',''))
movies.crew = movies["crew"].apply(lambda x: x.replace(']',''))
movies.crew = movies["crew"].apply(lambda x: x.replace("'",''))

In [30]:
movies.keywords = movies["keywords"].apply(lambda x: x.replace('[',''))
movies.keywords = movies["keywords"].apply(lambda x: x.replace(']',''))
movies.keywords = movies["keywords"].apply(lambda x: x.replace("'",''))

In [31]:
movies.genres=movies['genres'].replace({"'": ''}, regex=True)

# Postor sorter

In [73]:
poster_data = pd.read_csv('poster.csv')

In [14]:
poster_data["cast"] = poster_data['cast_poster']

In [15]:
poster_data["crew"] = poster_data['crew_poster']

In [9]:
poster_data.drop(columns=['cast','crew'],inplace=True)

In [21]:
poster_data.cast = poster_data["cast"].apply(lambda x: x.replace('[',''))
poster_data.cast = poster_data["cast"].apply(lambda x: x.replace(']',''))
poster_data.cast = poster_data["cast"].apply(lambda x: x.replace("'",''))
poster_data.cast = poster_data["cast"].apply(lambda x: x.replace(" ",''))

In [11]:
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace('[',''))
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace(']',''))
poster_data.crew_poster = poster_data["crew_poster"].apply(lambda x: x.replace("'",''))

In [16]:
poster_data.head()

,id,cast_poster,crew_poster,cast,crew
0,19404.0,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None
1,278.0,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,238.0,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,724089.0,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,424.0,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [39]:
movies = movies.merge(poster_data,on='id')

In [40]:
movies.head()

,Unnamed: 0,id,title,overview,popularity,vote_average,vote_count,release_date,keywords,genres,cast,crew,cast_poster,crew_poster
0,0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",31.222,8.7,3323,1995-10-20,,"Comedy, Drama, Romance","Shah Rukh Khan, Kajol, Amrish Puri, Anupam Khe...",Aditya Chopra,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg, /cwum24EsxNw...",None
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,76.654,8.7,20434,1994-09-23,"prison, corruption, police brutality, prison c...","Drama, Crime","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg, /oIciQWr8VwK...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",75.306,8.7,15270,1972-03-14,"italy, loss of loved one, love at first sight,...","Drama, Crime","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg, /fMDFeVf0pjo...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,21.501,8.6,1369,2020-07-31,based on novel or book,Romance,"Melanie Zanetti, Giulio Berruti, James Andrew ...",Tosca Musk,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg, /ktPKniWGVkm...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.585,8.6,12202,1993-11-30,"based on novel or book, factory, concentration...","Drama, History, War","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg, /vQtBqpF2HDd...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [41]:
movies.to_csv("movies_data.csv")

In [3]:
x = pd.read_csv('poster.csv')

In [44]:
poster_data.to_csv('poster.csv')

In [17]:
poster_data.drop(columns=['cast_poster','crew_poster'],inplace=True)

In [22]:
poster_data.head()

,id,cast,crew
0,19404.0,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg,/cwum24EsxNwp...",None
1,278.0,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg,/oIciQWr8VwKo...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg
2,238.0,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg,/fMDFeVf0pjop...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg
3,724089.0,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg,/ktPKniWGVkm6...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg
4,424.0,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg,/vQtBqpF2HDdz...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg

In [24]:
id_list = poster_data.id

In [26]:
x = pd.DataFrame()

In [40]:
for i in id_list:
    response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key=b70714a85f6c0096ed303107f5ffdf6b&language=en-US".format(i))
    temp_df = (response.json()['poster_path'])
    dict = {'id':i,'poster':temp_df}
    x = x.append(dict,ignore_index=True)

In [42]:
poster_data = poster_data.merge(x,on='id')

In [28]:
import requests

In [43]:
poster_data

,id,cast,crew,poster
0,19404.0,"/3uP0HPmCa0VTmyzTfa3E4WI9qgK.jpg,/cwum24EsxNwp...",None,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg
1,278.0,"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg,/oIciQWr8VwKo...",/nvOqAQhKtXdHtczgqanoCfltsxJ.jpg,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg
2,238.0,"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg,/fMDFeVf0pjop...",/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg,/eEslKSwcqmiNS6va24Pbxf2UKmJ.jpg
3,724089.0,"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg,/ktPKniWGVkm6...",/usR5NspRlWgXKUe9qVsCtTCpe4l.jpg,/x5o8cLZfEXMoZczTYWLrUo1P7UJ.jpg
4,424.0,"/bboldwqSC6tdw2iL6631c98l2Mn.jpg,/vQtBqpF2HDdz...",/tZxcg19YQ3e8fJ0pOs7hjlnmmr6.jpg,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg
...,...,...,...,...
9475,21435.0,"/eDAW4L3nNpx0sfhh5nMix4KdjfM.jpg,/p3cRVFvUPcsb...",/6ybiEcJLFbf2ctyxK8bqYa1cXYy.jpg,/sRB6qyf7q76XNsP5Zv24aCw5uK.jpg
9476,17711.0,"/9VjektO3AyuHZ5O8v2pC9It5Wvp.jpg,/67pvqalQz6zC...",None,/xCFSsftt2rglC81I6QLWcZSTCBM.jpg
9477,17532.0,"/3PVQPEc6nXNX2eoW2UbsfVikc7H.jpg,/ibYmq9qTMV3h...",/eLsLnRwAGDMBZ45axAcv0YLD4wh.jpg,/aRYrV4EloKRgv0lCqzGtXFt3dXn.jpg
9478,13908.0,"/qlb0apjFhoQ9UwCcvzrLm1mTIx0.jpg,/wHaOTfxOEKOP...",None,/nuP4Ym7vFRj40doQZWwnrsbiCbX.jpg
9479,580.0,"/6JKNdZopypnFnD9xSSlDs6YTHMC.jpg,/rfLT0dxqWcAs...",/dE6fzbXZX1ImRw8gOcuvMNa66g5.jpg,/kGiaOztahZV2x7bil7sbk7fb6ob.jpg

In [50]:
from joblib import load

In [53]:
movies_data = pd.read_csv("movies_data.csv")
movies = pd.read_csv("movies_tags.csv")

In [54]:
def recommender(movie):
    similarity = load('similarity.joblib')
    movie_index = movies[movies['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    x = pd.DataFrame()
    for i in movies_list:
        y = {'id':movies.iloc[i[0]].id,'movies':movies.iloc[i[0]].title}
        x = x.append(y,ignore_index=True)
    return x

In [106]:
y = recommender("The Shawshank Redemption")

In [107]:
recommender_index=[]
recommender_data = pd.DataFrame()
for i in y.id:
    recommender_index = poster_data[poster_data['id']==i].index[0]
    recommender_data= recommender_data.append(poster_data.iloc[recommender_index],ignore_index=True)

In [108]:
recommender_data.head()

,cast,crew,id,poster
0,"/uqqgAdPfi1TmG3tfKfhsf20fHE6.jpg,/mHsHV3SWodFL...",/dKlaXJk3NLcsC1CKMx6xmyW5BZD.jpg,519010.0,/ptlSYkLFUmNhwkskyTMOFPFUqSh.jpg
1,"/wcPQgZLDibuej1RwNTy1R2U2ZJw.jpg,/5U35yScoao1h...",/wcPQgZLDibuej1RwNTy1R2U2ZJw.jpg,11337.0,/y1EHgpL2hMVRcr6tIOy7VGLxaPs.jpg
2,"/4pk2VbOb2td7iBZyir6Ji46HH4N.jpg,/iCOzbSzCSUC6...",/vD8HCP04NbxS4Tb6AoRjBtHb3qA.jpg,16227.0,/dvwmiD6qQ05gojrFQRaFbdhbNDF.jpg
3,"/u0AqTz6Y7GHPCHINS01P7gPvDSb.jpg,/h6i3fZoFuKxD...",/4GxIZX5gtbMpW4ZgHwvGmLSIHOE.jpg,37165.0,/e5EMJEQnWkWb8G6sTMkN91qiqUz.jpg
4,"/1MBEPN0Y4YvIJAw3WOqBOeALDFT.jpg,/r9S9bUV6tz2y...",None,261470.0,/wk7ieVV9UzwpomQmx0Q4g39dI9x.jpg

In [102]:
poster_data.drop(columns=['Unnamed: 0'],inplace=True)

In [105]:
poster_data.to_csv('poster.csv',index=False)