In [49]:
import pandas as pd
import requests
import ast

In [50]:
api_key = "b70714a85f6c0096ed303107f5ffdf6b"

In [51]:
data = pd.DataFrame()

In [52]:
for i in range(1,475):
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key="+(api_key)+"&language=en-US&page={}".format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','popularity','vote_average','vote_count','release_date']]
    data = data.append(temp_df,ignore_index=True)

In [53]:
data.head()

,id,title,overview,popularity,vote_average,vote_count,release_date
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",29.033,8.7,3326,1995-10-20
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,75.698,8.7,20445,1994-09-23
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",82.196,8.7,15276,1972-03-14
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,19.855,8.6,1370,2020-07-31
4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.638,8.6,12208,1993-11-30

In [54]:
id_list = list(data["id"])

In [55]:
def convert(obj):
    l = []
    for i in ast.literal_eval(str(obj)):
        l.append(i['name'])
    return l
def convert3(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(str(obj)):
        if counter != 7:
            l.append(i['name'])
            counter = counter+1
        else:
            break
    return l
def fetch_director(obj):
    l = []
    for i in ast.literal_eval(str(obj)):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l
def convert3_link(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(str(obj)):
        if counter != 7:
            l.append(i['profile_path'])
            counter = counter+1
        else:
            break
    return l
def fetch_director_link(obj):
    l = []
    for i in ast.literal_eval(str(obj)):
        if i['job'] == 'Director':
            l.append(i['profile_path'])
            break
    return l

In [56]:
credit_data = pd.DataFrame()
for i in id_list:
    response = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key=".format(i)+api_key+"&language=en-US")
    cast = (response.json()['cast'])
    crew = (response.json()['crew'])
    dict = {'id':i,'cast':cast,'crew':crew}
    credit_data=credit_data.append(dict,ignore_index=True)

In [57]:
credit_data.head(4)

,cast,crew,id
0,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn...",19404.0
1,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno...",278.0
2,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 1776, 'kn...",238.0
3,"[{'adult': False, 'gender': 1, 'id': 1312450, ...","[{'adult': False, 'gender': 2, 'id': 22143, 'k...",724089.0

In [58]:
data = data.merge(credit_data,on='id')

In [59]:
data.head()

,id,title,overview,popularity,vote_average,vote_count,release_date,cast,crew
0,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",29.033,8.7,3326,1995-10-20,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,75.698,8.7,20445,1994-09-23,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",82.196,8.7,15276,1972-03-14,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 1776, 'kn..."
3,724089,Gabriel's Inferno Part II,Professor Gabriel Emerson finally learns the t...,19.855,8.6,1370,2020-07-31,"[{'adult': False, 'gender': 1, 'id': 1312450, ...","[{'adult': False, 'gender': 2, 'id': 22143, 'k..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,40.638,8.6,12208,1993-11-30,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [60]:
#keywords
#https://api.themoviedb.org/3/movie/{movie_id}/keywords?api_key=<<api_key>>
#genres
#https://api.themoviedb.org/3/movie/{movie_id}?api_key=<<api_key>>&language=en-US

In [61]:
keyword_data = pd.DataFrame()
for i in id_list:
    response = requests.get("https://api.themoviedb.org/3/movie/{}/keywords?api_key=".format(i)+api_key)
    keyword = response.json()['keywords']
    dict = {'id':i,'keywords':keyword}
    keyword_data = keyword_data.append(dict,ignore_index=True)

In [ ]:
genres_data = pd.DataFrame()
for i in id_list:
    response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key=".format(i)+api_key+"&language=en-US")
    genres = response.json()['genres']
    dict = {'id':i,'genres':genres}
    genres_data = genres_data.append(dict,ignore_index=True)

In [ ]:
data = data.merge(keyword_data,on='id')
data = data.merge(genres_data,on='id')

In [ ]:
data.head()

In [ ]:
data.genres=data.genres.apply(convert)
data.keywords=data.keywords.apply(convert)

In [ ]:
data.head()

In [ ]:
data['cast_poster']=data['cast'].apply(convert3_link)
data['crew_poster'] = data['crew'].apply(fetch_director_link)

In [ ]:
data.head()